<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      
      <% if @user.errors.any? %>
        <%= @user.errors.count %> errors prohibited this obj from being saved:
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <h1>User info</h1>
        <%= form_with model: @user do |f| %>
          <div>
            <label for="inputName">Name</label>
          </div>
          <div>
            <%= f.text_field :name, autofocus: true, id:"inputName" %>
          </div>
          <div>
            <label for="inputImage">Image</label>
          </div>
          <div>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
          <div>
            <label for="inputIntroduction">Introduction</label>
          <div>
            <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %>
          </div>
            <%= f.submit "Update User", class:"btn btn-secondary" %>
        <% end %>
      </div>

      <div>
        <%= link_to "show", book_path(:id) %>
        <a>|</a>
        <%= link_to "Back", books_path %>
      </div>

    </div>
  </div>
</div>

