<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <div>
    <%= link_to edit_user_path, class: 'btn btn-default' do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <th>
        <%= image_tag book.user.get_profile_image(100,100) %>
      </th>
      <th><%= book.user.name %></th>
      <th><%= link_to "show", "users/:id" %></th>
    </tr>
    <% end %>
  </tbody>
</table>
