<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <h1>Editing Book</h1>
        <%= form_with model: @book do |f| %>
          <div>
            <label for="inputTitle">Title</label>
          </div>
          <div>
            <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
          </div>
          <div>
            <label for="inputOpinion">Opinion</label>
          </div>
          <div>
            <%= f.text_field :body, autofocus: true, id:"inputBody" %>
          </div>
            <%= f.submit "Update Book", class:"btn btn-success" %>
        <% end %>
      </div>

      <div>
        <%= link_to "Show", book_path(params[:id]) %>
        <a>|</a>
        <%= link_to "Back", books_path %>
      </div>

    </div>
  </div>
</div>

