<div class="container px-5 px-sm-0">

  <!--New bookが失敗したときのエラーメッセージ-->
  <div class="row bg-secondary">
    <% if @book.errors.any? %>
      <%= @book.errors.count %> errors prohibited this obj from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
       <% end %>
      </ul>
    <% end %>
  </div>


  <div class="row">

    <div class="col-md-3 bg-primary">
      <%= render 'users/userbook', book: @book, user: @user %>
    </div>

    <!--右側の設定-->
    <div class="col-md-8 offset-md-1 bg-warning">
      <h2>Books</h2>
      <table class="table tablehover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th class="colspan=3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td class="col p-3"><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td>
              <%= link_to book_path(book.id), class:"link-primary" do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.opinion %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </div>
</div>