<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/18d078742a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--ここから見える-->
  <body class="flex-colum vh-100">
    <header class="bg-dark text-light">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href= "<%= root_path %>">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-users"></i>
                  <span>Users</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-book-open"></i>
                  <span>Books</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: 'btn btn-default text-light', method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span>Log out</span>
                <% end %>
              </li>

              <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'btn btn-default text-light link-body-emphasis' do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-link"></i>
                  <span>About</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-user-plus"></i>
                  <span>Sign up</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'btn btn-default text-light' do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span>Log in</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

    <footer class="mt-5 bg-white text-black pt-3 pb-5">
      <div class="container">
        <div class="row">
          <div class="mx-auto"><p>CopyRight Infratop.inc</p></div>
        </div>
      </div>
    </footer>
  </body>
</html>
